body {
  font-family: "Open Sans", sans-serif;
}
.main-heading {
  color: var(--main-color);
  // padding-bottom: 15px;
  // position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  &::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 10;
    border: 1px solid;
  }
}
.text-muted {
  color: #52595f !important;
}
