@mixin section-padding() {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}
@mixin bg_image($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
@mixin overlay($color, $opacity) {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba($color, $opacity);
  z-index: -1;
}
